    /* body {
    background-color: aliceblue;
} */
    
    .container {
        width: 50%;
        /* text-align: center; */
        box-sizing: border-box;
        margin: auto;
    }
    
    .desc_wrapper {
        /* margin: 20px auto; */
        padding: 20px 0;
        display: flex;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
        background-color: #006D5B;
        margin-top: 10px;
    }
    
    .suggest_inp {
        margin-top: 40px;
    }
    
    .btn {
        background-color: rgb(226, 104, 60);
        border-style: none;
        padding: 7px 15px;
        color: white;
        width: 100%;
        border-radius: 2px;
        font-size: 0.60rem;
    }
    
    .pnd-pg {
        display: flex;
        padding: 25px 50px;
        gap: 50px;
        margin-top: 50px;
    }
    
    .btn-default {
        color: rgb(82, 223, 228);
    }
    
    li+li {
        margin-top: 10px;
    }
    
    .list {
        list-style: none;
        margin-top: 5px;
    }
    
    .first-list {
        font-weight: bold;
    }
    
    .foot-content {
        text-align: center;
        padding: 30px;
    }
    
    .input-group {
        margin: 10px auto;
    }
    
    .txt {
        padding: 7px 15px;
        color: #ffffff;
        background-color: #257265;
        border-radius: 2px;
        font-size: 0.7rem;
        border: 1px solid rgb(48, 107, 109);
    }
    
    .FAQ {
        text-transform: uppercase;
        /* margin-right: 200px; */
        font-size: 0.6rem;
    }
    
    .tracking_crypto {
        font-size: 1.6rem;
    }
    
    .social-icon {
        padding: 0% 7% 7% 0%;
        color: blue;
    }
    /* .desc {
        padding-left: 60px;
    } */
    
    .form-horizontal {
        /* This bit sets up the horizontal layout */
        display: flex;
        flex-direction: row;
        /* border: 1px solid grey; */
        /* I've used padding so you can see the edges of the elements. */
        padding: 2px;
    }
    
    .form-control {
        /* Tell the input to use all the available space */
        flex-grow: 2;
        /* And hide the input's outline, so the form looks like the outline */
        border: none;
        background-color: rgba(247, 239, 239, 0.966);
        /* text-align: center; */
    }
    
    .form-control:focus {
        /* removing the input focus blue box. Put this on the form if you like. */
        outline: none;
    }
    
    .butn {
        /* Just a little styling to make it pretty */
        border: 1px solid rgb(0, 255, 255);
        background: rgb(0, 255, 255);
        color: white;
        /* height: 30px; */
        padding: 10px;
    }
    
    hr {
        width: 850px;
    }
    /* ::placeholder {
        color: #ffffff;
    } */